{% extends 'asdbasics.html' %}
{% block content %}
<form method="POST" action="">
    <!--Student Details-->
    <legend class="boarder-bottom nb-4">Student Details</legend>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputRegno">Registration Number</label>
        <input type="text" class="form-control" name='stdregno' id="inputRegno" placeholder="Registration Number" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Name</label>
          <input type="text"  name='stdname' class="form-control" id="inputName" placeholder="Name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputParentName">Parent/Guardian Name</label>
          <input type="text"  name='stdpname' class="form-control" id="inputParentName" placeholder="Parent/Gaurdian Name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAge">Age</label>
          <input type="number"  name='stdage'class="form-control" id="inputAge" placeholder="Age" min="1" max="50" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">DOB</label>
          <input type="date"  name='stddob' class="form-control" id="inputDOB" placeholder="DOB" required>
        </div>
    </div>

    <!--Education details-->
    <legend class="boarder-bottom nb-4">Student Details</legend>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputDepartment">Department</label>
          <input type="text"  name='stddept' class="form-control" id="inputDepartment" placeholder="Department" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputSemester">PresentSemester</label>
            <input type="number"  name='stdpresem' class="form-control" id="inputSemester" placeholder="PresentSemester" min="1" max="8" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAverageGPA">Avg.GPA</label>
          <input type="text"  name='stdavgpa' class="form-control" id="inputAverageGPA" placeholder="Average GPA" maxlength="3" required>
        </div>
    </div>

    <!--For Entering the Contact details-->
    <legend class="boarder-bottom nb-4">Contact Details</legend>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone</label>
            <input type="tel"  name='stdphone' class="form-control" id="inputPhoneNumber" placeholder="PhoneNumber" minlength="10" maxlength="10" required>
          </div>
    </div>
    <div class="form-group">
        <label for="inputAddress1">Address</label>
        <input type="text" name='stdaddres' class="form-control" id="inputAddress" placeholder="Adress" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text"  name='stdcity' class="form-control" id="inputCity" placeholder="City" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">State</label>
        <input type="text"  name='stdstate' class="form-control" id="inputCity" placeholder="State" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">PIN</label>
        <input type="text"  name='stdpin' class="form-control" id="inputZip" maxlength="6" required>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" required>
        <label class="form-check-label" for="gridCheck">
          The above given informations are correct accourding to my knowledge
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary ">Save</button>
</form>
{% endblock %}